<% if todo_item.completed? %> 
	<div class="list-group-item">
		<div class="item row">
            <div class="col-xs-5">
				<p style="opacity: 0.6;">
					<strike><%= todo_item.title %></strike>
				</p>
			</div>
			<div class="col-xs-4">
				<% @complete_time = todo_item.completed_at%>
				<% @created_time = todo_item.created_at%>
    			<%# @full_time = Time.at(@total_time).strftime("The date is %H:%M:%S") %>
				<% @diff_hours = ((@complete_time - @created_time) / 1.hour).round%>
				<%= @diff_hours %>
				<%#= todo_item.completed_at.strftime("You spent %H:%M:%S")%>
			</div>
			<div class="col-xs-3">
				<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "pull-right" do%>
				<i class="fa fa-trash"></i>
				<% end %>
			</div>	
		</div>		
	</div>

	<% else %>
	
	<div class="list-group-item">
		<div class="item row">
            <div class="col-xs-4">
				<%= todo_item.title %>
			</div>
			<% if todo_item.custom == false%>
				<div class="col-xs-4">
					<%= todo_item.total_time.strftime("Your custom time %H:%M:%S")%>
				</div>
			<% else %>	
				<div class="col-sm-4">
					<div id="cronometro" class="botonReiniciar"></div>
				</div>	
			<% end %>
			<div class="col-xs-3">
				<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "pull-right" do%>
					<i class="fa fa-trash"></i>
				<% end %>

				<%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, class: "pull-right" do%>
					<i class="fa fa-check"></i>
				<% end %>
			</div>
		</div>
	</div>

<% end %>


<script>
//Muestra el cronometro

var inicioConteo,
idTimeout,
cronometro = document.querySelector("#cronometro"),
botonReiniciar = document.querySelector(".botonReiniciar");

function zeroIzq(n){
return n.toString().replace(/^(d)$/,"0$1");
}

function formatoSegundos(s){
return zeroIzq(Math.floor(s / 3600))+":"+zeroIzq(Math.floor(s%3600 / 60))+":"+zeroIzq(Math.floor((s%3600)%60));
}

function actualizar(){
var dif = Date.now() - inicioConteo;
dif = Math.round(dif / 1000);
cronometro.innerHTML = formatoSegundos(dif);
idTimeout = setTimeout(actualizar,1000);
}

function iniciar(){
clearTimeout(idTimeout);
inicioConteo = Date.now();
actualizar();
}

//botonReiniciar.onclick = function(){
//iniciar();
//}

iniciar();
</script>