<p id="notice"><%= notice %></p>

<% @todo_lists.each do |list|%>
	<p>
	  <strong>Title:</strong>
	  <%= list.title %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= list.description %>
	</p>

	<div>
		<%= render list.todo_items %>
		<div>
			<%= render 'todo_items/form' %>
		</div>
	</div>

	<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
	<%= link_to 'Back', todo_lists_path %>

<% end %>
